{% extends 'ASFProductBundle::layout.html.twig' %}

{% block title %}{{ 'asf.product.title.product_list'|trans }}{% endblock %}

{% block asf_product_content %}

	<h1>{{ 'asf.product.title.product_list'|trans }}</h1>

	<a class="btn btn-default" href="{{ path('asf_product_product_add') }}" title="{{ 'asf.product.btn.add_product'|trans }}">{{ 'asf.product.btn.add_product'|trans }}</a>

	<div class="row">
		<div class="col-xs-12">
			{{ grid(grid) }}
		</div>
	</div>
	
{% endblock %}