{% extends 'ASFProductBundle::layout.html.twig' %}

{% trans_default_domain 'asf_product' %}

{% block title %}{{ 'Products list'|trans }}{% endblock %}

{% block asf_product_content %}

	<h1>{{ 'Products list'|trans }}</h1>

	<a class="btn btn-default" href="{{ path('asf_product_product_add') }}" title="{{ 'Add new product'|trans }}">{{ 'Add new product'|trans }}</a>

	<div class="row">
		<div class="col-xs-12">
			{{ grid(grid) }}
		</div>
	</div>
	
{% endblock %}