{% extends 'AsfProductBundle::layout.html.twig' %}

{% trans_default_domain 'asf_product' %}

{% block title %}{{ 'Product list'|trans }}{% endblock %}

{% block asf_product_content %}

	{% block page_title %}{{ 'Product list'|trans }}{% endblock %}
	
	{% block breadcrumbs_tree %}
	 > <a href="{{ path('asf_product_product_list') }}" title="{{ 'Product list'|trans }}">{{ 'Product list'|trans }}</a>
	{% endblock %}
	
	{% block asf_content_cmd %}
	<a class="btn btn-default" href="{{ path('asf_product_product_add') }}" title="{{ 'Add new product'|trans }}">{{ 'Add new product'|trans }}</a>
	{% endblock asf_content_cmd %}
	
	<div class="row">
		<div class="col-xs-12">
			{{ grid(grid, '::datagrid-grid-template.html.twig') }}
		</div>
	</div>
	
{% endblock %}