{% extends "ASFProductBundle::layout.html.twig" %}

{% block asf_product_content %}

	{% block asf_product_heading %}
	<div class="jumbotron">
		<h1>{% block heading_title %}{{ 'asf.product.title.product_manager'|trans }}{% endblock %}</h1>
		<p class="lead">{% block heading_lead %}{{ 'asf.product.text.product_manager'|trans }}{% endblock %}</p>
	</div>
	{% endblock %}
	
	<div class="row marketing">
		<div class="col-lg-6">
			<h4>{{ 'asf.product.title.h4.product_manager'|trans }}</h4>
			<p>{{ 'asf.product.text.h4.product_manager'|trans }}</p>
			<a href="{{ path('asf_product_product_list') }}" title="{{ 'asf.product.btn.product_list'|trans }}" class="btn btn-primary">{{ 'asf.product.btn.product_list'|trans }}</a>
			
			<h4>{{ 'asf.product.title.h4.product_category_manager'|trans }}</h4>
			<p>{{ 'asf.product.text.h4.product_category_manager'|trans }}</p>
			<a href="{{ path('asf_product_category_list') }}" title="{{ 'asf.product.btn.product_category_list'|trans }}" class="btn btn-primary">{{ 'asf.product.btn.product_category_list'|trans }}</a>
		</div>
	
		<div class="col-lg-6">
			<h4>{{ 'asf.product.title.h4.brand_manager'|trans }}</h4>
			<p>{{ 'asf.product.text.h4.brand_manager'|trans }}</p>
			<a href="{{ path('asf_product_doc_homepage') }}" title="{{ 'asf.product.btn.check_documentation'|trans }}" class="btn btn-primary">{{ 'asf.product.btn.check_documentation'|trans }}</a>
			
			<h4>{{ 'asf.product.title.h4.product_pack'|trans }}</h4>
			<p>{{ 'asf.product.text.h4.product_pack'|trans }}</p>
			<a href="{{ path('asf_product_doc_homepage') }}" title="{{ 'asf.product.btn.check_documentation'|trans }}" class="btn btn-primary">{{ 'asf.product.btn.check_documentation'|trans }}</a>
		</div>
	</div>
{% endblock %}