{% extends "ASFProductBundle::layout.html.twig" %}

{% block asf_product_body %}

	{% block asf_product_heading %}
	<div class="jumbotron">
		<h1>{% block heading_title %}Product Manager{% endblock %}</h1>
		<p class="lead">{% block heading_lead %}Welcome in the product manager section of your Symfony Application.{% endblock %}</p>
	</div>
	{% endblock %}
	
	{% block asf_product_content %}
	<div class="row marketing">
		<div class="col-lg-6">
			<h4>Product Manager</h4>
			<p>You can create, update or delete products from the <a href="{{ path('asf_product_product_list') }}" title="Products list">products list</a>.</p>
			
			<h4>Product Category Manager</h4>
			<p>You can create, update or delete product categories from the <a href="{{ path('asf_product_category_list') }}" title="Products list">product categories list</a>.</p>
		</div>

		<div class="col-lg-6">
			<h4>Brand Manager (optional)</h4>
			<p>If your application administrator set it to true, you can also manage a list of brands for your products. <a href="{{ path('asf_product_doc_homepage') }}" title="{{ 'ASFProductBundle Documentation' }}">Check the documentation for further informations</a>.</p>
			
			<h4>Product Pack Manager (optional)</h4>
			<p>If your application administrator set it to true, you can also manage product packs. <a href="{{ path('asf_product_doc_homepage') }}" title="{{ 'ASFProductBundle Documentation' }}">Check the documentation for further informations</a>.</p>
		</div>
	</div>
	{% endblock %}
	
{% endblock %}