{% extends 'ASFProductBundle::layout.html.twig' %}

{% trans_default_domain 'asf_product' %}

{% block title %}{{ 'Categories list'|trans }}{% endblock %}

{% block asf_product_content %}

	<h1>{{ 'Categories list'|trans }}</h1>

	<a class="btn btn-default" href="{{ path('asf_product_category_add') }}" title="{{ 'Add new category'|trans }}">{{ 'Add new category'|trans }}</a>

	<div class="row">
		<div class="col-xs-12">
			{{ grid(grid) }}
		</div>
	</div>
	
{% endblock %}