{# ---------------------------------- Search Form Type ---------------------------- #}
{% block search_product_widget %}
{% spaceless %}
	{{ form_widget(form) }}
	{{ form_errors(form) }}
	<script type="text/javascript">
	(function($, window, document){
		$(function(){
			$('#{{ form.vars.id }}').asfSearchProduct();
		});
	}(window.jQuery, window, document));
	</script>
{% endspaceless %}
{% endblock %}

{# ---------------------------------- Product Form Type ---------------------------- #}
{% block _asf_product_product_form_type_errors %}
{% spaceless %}
	{{ block('form_errors')  }}
{% endspaceless %}
{% endblock %}

{% block _asf_product_product_form_type_widget %}
{% spaceless %}

	{{ form_errors(form) }}
	
	<div class="row">
		<div class="col-sm-4">
			{{ form_row(form.name) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.brand) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			{{ form_row(form.weight) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.capacity) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.state) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{{ form_row(form.categories) }}
		</div>
	</div>
	
{% endspaceless %}
{% endblock %}

{# ---------------------------------- Brand Form Type ---------------------------- #}
{% block _asf_product_brand_form_type_errors %}
{% spaceless %}
	{{ block('form_errors')  }}
{% endspaceless %}
{% endblock %}

{% block _asf_product_brand_form_type_widget %}
{% spaceless %}

	{{ form_errors(form) }}
	
	<div class="row">
		<div class="col-sm-6">
			{{ form_row(form.name) }}
		</div>
		<div class="col-sm-6">
			{{ form_row(form.state) }}
		</div>
	</div>
	
{% endspaceless %}
{% endblock %}

{# --------------------------------- Category Form Type --------------------------------- #}
{% block _asf_product_category_form_type_errors %}
{% spaceless %}
	{{ block('form_errors')  }}
{% endspaceless %}
{% endblock %}

{% block _asf_product_category_form_type_widget %}
{% spaceless %}

{{ form_errors(form) }}

<div class="row">
	<div class="row">
		<div class="col-xs-3">
			{{ form_row(form.name) }}
		</div>
		<div class="col-xs-2">
			{{ form_row(form.state) }}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{{ form_row(form.save) }}
		</div>
	</div>
</div>

{% endspaceless %}
{% endblock %}